* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 60vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-screen {
  background-color: gold;
  width: 100%;
  height: 50vmin;
  /* border: 0.5vmin solid black; */
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#high-score {
  border: 0.5vmin solid black;
  border-radius: 10px;
  padding: 2vmin;
}
#reels {
  width: 100%;
  width: 60vmin;
  margin-top: 5vmin;
  display: flex;
  justify-content: space-evenly;
}

.reel {
  background-color: black;
  height: 20vmin;
  width: 25%;
  border: 0.5vmin solid black;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reel img {
  width: 100%;
}

#status-bar {
  background-color: gold;
  height: 7vmin;
  padding: 2vmin;
  margin-top: 2vmin;
  width: 100%;
  /* border: 0.5vmin solid black; */
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#touch-screen {
  width: 100%;
  margin-top: 2vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bet-money {
  background-color: gold;
  padding: 2vmin;
  display: flex;
  width: 100%;
  /* border: 0.5vmin solid black; */
  border-radius: 15px;
}

#bet-money div:first-child {
  width: 50%;
}

#bet-money div:last-child {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

#add-money {
  width: 7vmin;
  margin-right: 1vmin;
}

#add-money-btn {
  width: 5vmin;
  height: 5vmin;
  border: none;
  background-color: gold;
}

#add-money-btn > img {
  width: 5vmin;
  height: 5vmin;
}

.buttons {
  /* border: 0.5vmin solid black; */
  border-radius: 10px;
  margin-top: 2vmin;
  height: 8vmin;
  width: fit-content;
}
