* {
  box-sizing: border-box;
  font-family: "Ultra", serif;
}

body {
  background-image: url(https://i.pinimg.com/originals/b2/11/ec/b211ec9469d225420ecfe01b08268ec8.png);
  background-size: cover;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 60vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-screen {
  background-color: gold;
  width: 100%;
  height: 50vmin;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-screen > button {
  background-color: gold;
  border: none;
}

#main-screen > button:hover {
  cursor: pointer;
}

#on-off {
  margin-top: 3vmin;
  height: 3vmin;
}

#high-score {
  padding: 2vmin;
}

#reels {
  width: 100%;
  margin-top: 5vmin;
  display: flex;
  justify-content: space-evenly;
}

.reel {
  background-color: black;
  height: 20vmin;
  width: 25%;
  border: 0.5vmin solid black;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reel img {
  width: 100%;
}

#status-bar {
  background-color: gold;
  height: 7vmin;
  padding: 2vmin;
  margin-top: 2vmin;
  width: 100%;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#touch-screen {
  width: 100%;
  margin-top: 2vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bet-money {
  background-color: gold;
  padding: 2vmin;
  display: flex;
  width: 100%;
  border-radius: 30px;
  margin-bottom: 2vmin;
}

#bet-money div:first-child {
  width: 50%;
  display: flex;
  align-items: center;
}

#bet-money div:last-child {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#bet-money div:last-child #add-money {
  width: 7vmin;
  margin-right: 1vmin;
  height: 3vmin;
  background-color: black;
  opacity: 80%;
  color: gold;
  border: none;
}

#add-money-btn {
  width: 5vmin;
  height: 5vmin;
  border: none;
  background-color: gold;
}

.buttons {
  border-radius: 10px;
  width: fit-content;
  border: 0.3vmin solid grey;
}

.buttons:hover {
  background-color: gold;
  color: black;
  cursor: pointer;
}

#add-money-btn > img {
  width: 5vmin;
  height: 5vmin;
  border: none;
}

.active {
  background-color: black;
  color: gold;
}

@media (max-width: 375px) {
  #main-screen {
    background-color: gold;
    width: 80vmin;
    height: 50vh;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
